{% extends 'client_base.html' %}

{% block title %}Find Matches - Matrimonial App{% endblock %}

{% block content %}
    <div class="container my-5">
    <h2 class="text-center">Select User Profile</h2>
    <form action="/show_matches" method="post" enctype="multipart/form-data">
        <div class="row mb-3 my-3 p-3 rounded shadow bg-white mx-auto">
                <!-- <h5>Student Name</h5> -->
        <div class="col-sm-6 mb-3">
            <label for="date" class="form-label" id="label">Profile Id<span class="text-danger">*</span></label>
            <select name="profile_id" class="form-select" aria-label="Default select example" required>
                <option value="">Select Profile</option>
                {% for profile in profiles %}
                    {% if profile.get('full_name') %}
                    <option  value="{{profile['_id']}}">{{profile['full_name']}} ({{profile['profile_id']}})</option>
                    {% endif %}
                {% endfor %}
                
            </select>
        </div>
            <div class="col-sm-6 mb-3"><label for="top" class="form-label">Top Profiles<span class="text-danger">*</span></label>
                <select name="top" class="form-select" aria-label="Default select example" required>
                    <option value="">Select Top</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="text-center mx-auto my-3">
                <button class="btn btn-dark w-50" id="">Submit</button>
        </div>
    </form>

{% if selected_profile %}
    <h3>Selected Profile:</h3>
    <p><strong>Name:</strong> {{ selected_profile.full_name }}</p>
    <p><strong>Marital Status:</strong> {{ selected_profile.marital_status }}</p>
    <p><strong>Preferences:</strong> {{ selected_profile.preferences }}</p>
    <p><strong>Age:</strong> {{ selected_profile.age }}</p>
    <!-- Add more selected profile fields if needed -->
{% endif %}

<h3 class="text-center">Best Matches Profiles:</h3>
<div class="row">
    {% for match in matched_profiles %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 rounded shadow bg-white">
        <div class="card-body">
          <h5 class="card-title">{{ match.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"><strong>Occupation:</strong>: {{ match.occupation }} | Age: {{ match.age }}</h6>
          <p class="card-text">
            <strong>Education:</strong> {{ match.education }}<br>
            <strong>Marital Status:</strong> {{ match.marital_status }}<br>
            <strong>Maslak/Sect:</strong> {{ match.maslak_sect }}<br>
            <strong>Native Place:</strong> {{ match.native_place }}<br>
            <strong>Family Background:</strong> {{ match.family_background }}<br>
            <strong>Preferences:</strong> {{ match.preferences }}<br>
          </p>
          <hr>
          <p class="card-text">
            <strong>Compatibility:</strong> {{ match.score_breakdown.compatibility }}<br>
            <strong>Total Score:</strong> {{ match.score_breakdown.total_score }}
            <strong>Reasoning:</strong> {{ match.score_breakdown.Reasoning }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
