{% extends 'client_base.html' %}

{% block title %}Find Matches - Matrimonial App{% endblock %}

{% block content %}
<div class="container my-3">

<!-- <div>
<h1>Filter Profiles</h1>

  <select id="filter-select">
    <option value="10">10%</option>
    <option value="50">50%</option>
    <option value="80">80%</option>
    <option value="100">100%</option>
  </select>
  <button onclick="loadProfiles()" class="btn btn-dark">Load Profiles</button>
</div> -->

<div>
  <h2>Filter by Profile Completion</h2>
<form method="get" action="/api/filtered-profiles" onsubmit="showLoader()">
    <label class="form-label" for="min_completion">Minimum Completion (%):</label>
    <!-- <input type="number" name="min_completion" min="0" max="100" value="{{ min_completion }}"> -->
    <select name="min_completion" class="form-select" id="min_completion">
    <option value="10">10%</option>
    <option value="50">50%</option>
    <option value="80">80%</option>
    <option value="100">100%</option>
  </select>
    <button type="submit" class="btn btn-outline-dark my-2">Filter</button>
</form>
</div>
<h1 class="text-center">All Profiles({{total_profiles}})</h1>
{% if total_profiles == 0 %}
  <h2 class="text-center">no Profiles</h2>
{% else%}
<div class="spinner-border" id="loader" style="display: none;" role="status">
  <span class="visually-hidden text-center">Loading...</span>
</div>
{% for profile in profiles %}
<div class="accordion my-4 mb-2" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{loop.index0}}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index0}}" aria-expanded="false" aria-controls="collapse{{loop.index0}}">
                             <h6><span>{{profile.profile_id}}</span> {{profile.full_name}}</h6>
                        </button>
                    </h2>
                    <div id="collapse{{loop.index0}}" class="accordion-collapse collapse" aria-labelledby="heading{{loop.index0}}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <ul type="number">
                            <li><strong>Profile Id:</strong> {{profile.profile_id}}</li>
                            <li><strong>Name:</strong> {{profile.full_name}}</li>
                            <li><strong>Age/DOB:</strong> {{profile.age}} {{profile.date_of_birth}}</li>
                            <li><strong>height:</strong> {{profile.height}}</li>
                            <li><strong>Marital Status:</strong> {{profile.marital_status}}</li>
                            <li><strong>Preferences:</strong> {{profile.preferences}}</li>
                          </ul>
                            <div class="mt-3">
                              <button class="btn btn-warning btn-sm" onclick="editProfile('{{profile._id}}')">Edit</button>
                          </div>

                        </div>
                    </div>
                </div>
</div>
{%endfor%}
{%endif%}
{% endblock %}
